body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    background-color: white;
    color: black;
}
.nav {
    display: flex;
    align-items: center; /* Vertically center items */
    justify-content: center; /* Center items horizontally */
    background-color: #ff0041; /* Background color for the nav */
    padding: 20px 30px; /* Padding around the nav */
    position: sticky; /* Keeps it sticky */
    top: 0; /* Sticks it to the top of the page */
    left: 0; /* Align it to the left */
    width: auto; /* Make sure it spans the full width */
    margin: 0px; /* Remove any default margin */
    border-radius: 0px 0px 50px 50px; /* Optional: Remove rounded corners */
    color: white;
    z-index: 3; /* Keeps it on top */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow for better visibility */
}
.logo {
    position: absolute; /* Position logo absolutely */
    left: 30px; /* Space from the left */
    width: 35px;
    border-radius: 5px;
}
.welcome{
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center;
    position: relative;
}
.h1{
    animation: fadeout;
    animation-timeline: view();
    animation-range: exit -50vh;
}
h3{
    margin: 0px;
}
@media (min-width: 1024px) {
    .slideshow-container {
        position: relative;
        max-width: 60%;
        height: 35vh;
        margin: auto;
        overflow: hidden;
        border-radius: 10px;
        margin-top: 20px;
    }
    .slide {
        min-width: 100%;
        height: 35vh; /* Adjust the height of each slide */
        text-align: center;
        font-size: 48px;
        color: #333;
    }
    video {
        width: 500px;
        height: auto; /* Maintain aspect ratio */
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        outline: none; /* Remove default outline */
    }
    /* Custom controls */
    .custom-controls {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%,0);
        width: 490px; /* Set width to 100% */
        display: flex;
        align-items: center;
        background: rgba(0, 0, 0, 0.7);
        border-radius: 5px;
        padding: 5px;
    }
    .double{
        margin: 50px;
        margin-bottom: 0;
    }
}
@media (max-width: 1024px) {
    .slideshow-container {
        position: relative;
        max-width: 80%;
        height: 20vh;
        margin: auto;
        overflow: hidden;
        margin-top: 20px;
        border-radius: 10px;
    }
    .slide {
        min-width: 100%;
        height: 20vh; /* Adjust the height of each slide */
        font-size: 24px;
        color: #333;
    }
    video {
        width: 80vw;
        height: auto; /* Maintain aspect ratio */
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        outline: none; /* Remove default outline */
    }
    /* Custom controls */
    .custom-controls {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%,0);
        width: 75vw; /* Set width to 100% */
        display: flex;
        align-items: center;
        background: rgba(0, 0, 0, 0.7);
        border-radius: 5px;
        padding: 5px;
    }
    .double{
        margin: 15px;
        margin-bottom: 0;
    }
    #gallerycontainer img{
        width: 100px;
    }
}
.slide{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#slide1{
    background-image: linear-gradient(to top right, #ff0040, #ffa8a8);
}
#slide2{
    background-image: linear-gradient(to top left, #ff41ff, #ffd2ff);
}
#slide3{
    background-image: linear-gradient(to bottom right, #4141ff, #bbbbff);
}
.slides-wrapper {
    display: flex;
    transition: transform 1.5s ease; /* Smooth sliding effect */
}
.dots-container {
    text-align: center;
    padding: 20px;
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
    cursor: pointer;
}

.dot:hover, .dot.active {
    background-color: #717171;
}
#welcome{
    font-family: 'DynaPuff', serif;
    color: #ff2424;
    margin-bottom: -20px;
}
#welcome2{
    font-family: 'DynaPuff', sans-serif;
    color: #007fff;
}
#introp{
    font-family: 'Tomorrow', sans-serif;
    max-width: 500px;
    font-size: 18px;
}
.video-container {
    position: relative;
    width: auto; /* Adjust as needed */
}
.play-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-right: 10px;
}
.play-button:hover {
    background-color: #0056b3;
}
.timeline {
    flex-grow: 1;
    height: 5px;
    background: #ddd;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
}
.progress {
    height: 100%;
    background: #007bff;
    border-radius: 5px;
    width: 0; /* Initial width */
}
.time-display {
    margin-left: 10px;
    font-size: 12px;
    color: #fff;
}
.container{
    display: flex;               /* Use flexbox for layout */
    justify-content: center;     /* Center items horizontally */
    align-items: center;         /* Center items vertically */
    flex-wrap: wrap;
}
#menu{
    margin: 50px auto;
    margin-bottom: 0px;
    background-color: black;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}
.navmenu {
    background: none;
    border: none;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease;
    color: white;
}
.navmenu.active {
    color: #007fff;
}
.navmenu::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%; /* Start from the center */
    width: 0; /* Start with width 0 */
    height: 2px;
    background-color: #007fff;
    transform: translateX(-50%); /* Center it */
    transition: width 0.3s ease, left 0.3s ease;
}
.navmenu.active::after {
    width: 100%; /* Full width when active */
}
.navmenu:not(:first-child) {
    margin-left: 30px;
}
#content{
    background-color: black;
    color: white;
    width: auto;
    padding: 20px;
    margin: 5px 10px;
    border-radius: 10px;
}
#gallerycontainer img{
    border-radius: 10px;
}
.contactdiv{
    font-family: 'Tomorrow', sans-serif;
    border: 1.5px solid rgb(216, 216, 216);
    padding: 20px;
    width: fit-content;
    max-width: 500px;
    margin: auto;
    height: fit-content;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
    color: black;
}
.contactdiv a{
    color: #3dc8e0;
}
.double{
    margin: 10px;
}
#doublecontainer{
    display: flex;               /* Use flexbox for layout */
    justify-content: center;     /* Center items horizontally */
    align-items: center;         /* Center items vertically */
    flex-wrap: wrap;
}